POSTGRES_USER=changeUser
POSTGRES_PASSWORD=changePassword
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=changeUser
POSTGRES_NON_ROOT_PASSWORD=changePassword

ENCRYPTION_KEY=changeEncryptionKey

# 웹훅 및 외부 접근 설정 (Cloudflare Tunnel 등)
WEBHOOK_URL=https://your-tunnel-name.yourdomain.com

# 외부 노출 포트 번호
EXPOSE_PORT=8080

# Cloudflare Tunnel 설정
TUNNEL_NAME=your-tunnel-name
